@{
    ViewBag.Title = "About";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="#">Trang chủ</a>  /  Giới thiệu</span>
                <h3>Giới thiệu</h3>
            </div>
        </div>
    </div>
</div>

<div class="single-property section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-image">
                    <img src="assets/images/pexels-photo-287237.webp" alt="">
                </div>
                <div class="main-content">
                    <span class="category">Thông tin</span>
                    <h4>TĐM Booking, Đặt lịch nha khoa</h4>
                    <p>
                        <strong>TĐM Booking là nền tảng kết nối y tế minh bạch tại Việt Nam.</strong>
                        <br> Chúng tôi là một công ty công nghệ - không phải bệnh viện, phòng khám, hay trung tâm xét nghiệm. Sứ mệnh của chúng tôi là giúp bạn có những sự lựa chọn thông minh cho sức khỏe của cả gia đình.
                        <br><br>Chúng tôi là một công ty công nghệ - không phải bệnh viện, phòng khám, hay trung tâm xét nghiệm. Sứ mệnh của chúng tôi là giúp bạn có những sự lựa chọn thông minh cho sức khỏe của cả gia đình.
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                SỨ MỆNH
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                “Kiến tạo hệ sinh thái Nha Khoa cực kỳ đơn giản. Phụng sự con người nhanh nhất trên mọi miền đất nước”. Với 3 trụ cột là Chính trực – Kỷ luật – Sáng tạo.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                TẦM NHÌN
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                “Là chuỗi phòng nha khoa dẫn đầu Việt Nam bởi sự phục vụ tận tâm, chuyên môn giỏi và thẩm mỹ cao bằng việc vận hành cực kỳ đơn giản với tinh thần phụng sự khách hàng.”
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                GIÁ TRỊ CỐT LÕI
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                của mỗi thành viên Nha Khoa để thực hiện tầm nhìn đến năm 2025: “Tận tâm, trung thực, kỷ luật, máu lửa, học hỏi.”
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-table">
                    <ul>
                        <li>
                            <img src="assets/images/info-icon-01.png" alt="" style="max-width: 52px;">
                            <h4>Hiện đại<br><span>Sử dụng thiết bị hiện đại</span></h4>
                        </li>
                        <li>
                            <img src="assets/images/info-icon-02.png" alt="" style="max-width: 52px;">
                            <h4>Chuyên nghiệp<br><span>Đội ngũ có kinh nghiệm lâu năm</span></h4>
                        </li>
                        <li>
                            <img src="assets/images/info-icon-03.png" alt="" style="max-width: 52px;">
                            <h4>Tiết kiệm<br><span>Thanh toán nhanh chóng, rõ ràng</span></h4>
                        </li>
                        <li>
                            <img src="assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                            <h4>Nhanh chóng<br><span>Hỗ trợ 24/7</span></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| Đội ngũ</h6>
                    <h4>Bác sĩ chuyên nghiệp và tận tâm của phòng khám!</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Ngọc Minh</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Quốc Đạt</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Tấn Trung</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Chuyên ngành<span>Nha khoa</span></li>
                                                <li>Số điện thoại<span>039-442-1596</span></li>
                                                <li>Thời gian trực<span>8h-19h</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="assets/images/deal-01.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Thông tin cơ bản</h4>
                                        <p>
                                            - Tốt nghiệp Khoa Răng Hàm Mặt - Đại học Y Dược TP.HCM.
                                            <br>- Chuyên gia chỉnh hình hàm mặt.
                                            <br>- Tham gia đào tạo cho các bác sĩ chỉnh nha.
                                            <br>- Trưởng ban chỉnh nha Nha Khoa Kim.
                                            <br>- 17 năm kinh nghiệm trong lĩnh vực nha khoa.
                                        </p>
                                        <div class="icon-button">
                                            <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Chuyên ngành<span>Nha khoa</span></li>
                                                <li>Số điện thoại<span>039-442-1596</span></li>
                                                <li>Thời gian trực<span>8h-19h</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="assets/images/deal-02.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Thông tin cơ bản</h4>
                                        <p>
                                            - Tốt nghiệp Bác sĩ Y khoa trường Đại học Y Dược khoá 2004-2010.
                                            <br>- Bác sĩ Chuyên khoa I chuyên ngành Răng-Hàm-Mặt khoá 2013-2017.
                                            <br>- Chứng chỉ Implant năm 2015.
                                            <br>- Chứng chỉ Chỉnh Hình Răng Mặt năm 2018.
                                            <br>- Kinh nghiệm đến 2023: 12 năm.
                                        </p>
                                        <div class="icon-button">
                                            <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Chuyên ngành<span>Nha khoa</span></li>
                                                <li>Số điện thoại<span>039-442-1596</span></li>
                                                <li>Thời gian trực<span>8h-19h</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="assets/images/deal-03.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Thông tin cơ bản</h4>
                                        <p>
                                            - Tốt nghiệp Bác sĩ Răng Hàm Mặt trường Đại học Y Dược TP.HCM.
                                            <br>- Trước đây là Bác sĩ Nội trú Phẫu thuật hàm mặt tại Khoa Phẫu thuật hàm mặt Bệnh viện Răng Hàm Mặt Trung Ương TP.HCM.
                                            <br>- Thạc sĩ Y khoa Chuyên ngành Phẫu thuật răng hàm mặt – Implant tại Đại học Munster (Đức).
                                            <br>- Thành viên Hội Phẫu thuật hàm mặt Thế giới.
                                        </p>
                                        <div class="icon-button">
                                            <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

