@{
    ViewBag.Title = "Home Page";
}

<!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <span class="category"> <em>Đặt lịch</em></span>
          <h2>chuyên nghiệp và tận tâm!<br></h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category"><em>Đặt lịch</em></span>
          <h2>Tiết kiệm!<br></h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category"><em>Đặt lịch</em></span>
          <h2>An Toàn!<br></h2>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image">
            <img src="assets/images/featured.jpg" alt="">
            <a href="property-details.html"><img src="assets/images/featured-icon.png" alt="" style="max-width: 60px; padding: 0px;"></a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-heading">
            <h6>| Featured</h6>
            <h2>Best Appartment &amp; Sea view</h2>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Best useful links ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. TemplateMo provides you the <a href="https://www.google.com/search?q=best+free+css+templates" target="_blank">best free CSS templates</a> in the world. Please tell your friends about it.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does this work ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why is Villa Agency the best ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-table">
            <ul>
              <li>
                <img src="assets/images/info-icon-01.png" alt="" style="max-width: 52px;">
                <h4>250 m2<br><span>Total Flat Space</span></h4>
              </li>
              <li>
                <img src="assets/images/info-icon-02.png" alt="" style="max-width: 52px;">
                <h4>Contract<br><span>Contract Ready</span></h4>
              </li>
              <li>
                <img src="assets/images/info-icon-03.png" alt="" style="max-width: 52px;">
                <h4>Payment<br><span>Payment Process</span></h4>
              </li>
              <li>
                <img src="assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                <h4>Safety<br><span>24/7 Under Control</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="video section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Video View</h6>
            <h2>Get Closer View & Different Feeling</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="assets/images/video-frame.jpg" alt="">
            <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="34" data-speed="1000"></h2>
                   <p class="count-text ">Buildings<br>Finished Now</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="12" data-speed="1000"></h2>
                  <p class="count-text ">Years<br>Experience</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2>
                  <p class="count-text ">Awwards<br>Won 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="section best-deal">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-heading">
            <h6>| Đội ngũ</h6>
            <h4>Bác sĩ chuyên nghiệp và tận tâm của phòng khám!</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Ngọc Minh</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Quốc Đạt</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Tấn Trung</button>
                  </li>
                </ul>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Chuyên ngành<span>Nha khoa</span></li>
                          <li>Số điện thoại<span>039-442-1596</span></li>
                          <li>Thời gian trực<span>8h-19h</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="assets/images/deal-01.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Thông tin cơ bản</h4>
                      <p>- Tốt nghiệp Khoa Răng Hàm Mặt - Đại học Y Dược TP.HCM. 
                      <br>- Chuyên gia chỉnh hình hàm mặt.
                      <br>- Tham gia đào tạo cho các bác sĩ chỉnh nha.
                      <br>- Trưởng ban chỉnh nha Nha Khoa Kim.
                      <br>- 17 năm kinh nghiệm trong lĩnh vực nha khoa.</p>
                      <div class="icon-button">
                        <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Chuyên ngành<span>Nha khoa</span></li>
                          <li>Số điện thoại<span>039-442-1596</span></li>
                          <li>Thời gian trực<span>8h-19h</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="assets/images/deal-02.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Thông tin cơ bản</h4>
                      <p>- Tốt nghiệp Bác sĩ Y khoa trường Đại học Y Dược khoá 2004-2010.
                      <br>- Bác sĩ Chuyên khoa I chuyên ngành Răng-Hàm-Mặt khoá 2013-2017.
                      <br>- Chứng chỉ Implant năm 2015.
                      <br>- Chứng chỉ Chỉnh Hình Răng Mặt năm 2018.
                      <br>- Kinh nghiệm đến 2023: 12 năm.
                      </p>
                      <div class="icon-button">
                        <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Chuyên ngành<span>Nha khoa</span></li>
                          <li>Số điện thoại<span>039-442-1596</span></li>
                          <li>Thời gian trực<span>8h-19h</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="assets/images/deal-03.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Thông tin cơ bản</h4>
                      <p>- Tốt nghiệp Bác sĩ Răng Hàm Mặt trường Đại học Y Dược TP.HCM.
                        <br>- Trước đây là Bác sĩ Nội trú Phẫu thuật hàm mặt tại Khoa Phẫu thuật hàm mặt Bệnh viện Răng Hàm Mặt Trung Ương TP.HCM.
                        <br>- Thạc sĩ Y khoa Chuyên ngành Phẫu thuật răng hàm mặt – Implant tại Đại học Munster (Đức).
                        <br>- Thành viên Hội Phẫu thuật hàm mặt Thế giới.
                      </p>
                      <div class="icon-button">
                        <a href="property-details.html"><i class="fa fa-calendar"></i> Đặt lịch ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Dịch vụ</h6>
            <h3>Các dịch vụ nổi bật mà chúng tôi mang đến</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-01.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Trồng răng tháo lắp </a></h4>
            <ul>
              <li>là phương pháp phục hình răng tối ưu nhằm thay thế cho nhiều răng.</li> 
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-02.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Niềng răng</a></h4>
            <ul>
              <li>là phương pháp nha khoa giúp điều chỉnh các răng về đúng hướng và đúng vị trí.</li>
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-03.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Tẩy trắng răng</a></h4>
            <ul>
              <li>là phương pháp nha khoa nhằm lấy đi các sắc tố vàng, nâu… ở men răng và ngà răng.</li>
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-04.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Cạo vôi răng</a></h4>
            <ul>
              <li>là quá trình làm sạch các mảng thức ăn đã bị vôi hóa bám cứng ở răng.</li>
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-05.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Phòng ngừa sâu răng</a></h4>
            <ul>
              <li>Giúp ngăn chặn trước các nguy cơ xuất hiện các bệnh về răng.</li>
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="property-details.html"><img src="assets/images/property-06.jpg" alt=""></a>
            <span class="category">Dịch vụ</span>
            <h4><a href="property-details.html">Bọc răng sứ</a></h4>
            <ul>
              <li>là phương pháp phục hình răng giúp khắc phục những khuyết điểm của răng.</li>
            </ul>
            <div class="main-button">
              <a href="property-details.html">Tìm hiểu ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Phản hồi với chúng tôi</h6>
            <h2>Gửi ý kiến của bạn vào đây</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4324488546304!2d106.81124217481914!3d10.854676157745967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175274c6952e3b5%3A0x565218238bb43750!2zNjQgSG_DoG5nIEjhu691IE5hbSwgS2h1IHBo4buRIE3hu7kgVGjDoG5oLCBRdeG6rW4gOSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1698309891984!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="item phone">
                <img src="assets/images/phone-icon.png" alt="" style="max-width: 52px;">
                <h6>039-442-1596<br><span>Phone Number</span></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item email">
                <img src="assets/images/email-icon.png" alt="" style="max-width: 52px;">
                <h6>TĐM@gmail.com<br><span>Email</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <form id="contact-form" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <label for="name">Họ Tên</label>
                  <input type="name" name="name" id="name" placeholder="Tên đầy đủ..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" placeholder="E-mail của bạn..." required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="subject">Tiêu Đề</label>
                  <input type="subject" name="subject" id="subject" placeholder="Tiêu đề..." autocomplete="on" >
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="message">Nội dung</label>
                  <textarea name="message" id="message" placeholder="Nội dung.."></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Gửi</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
